html {
    position: relative;
    min-height: 100%;
}

li {
    padding: 5px;
    margin: 5px;
    background: none;
}
  
.label {
font-weight: bold;
}

.form-group {
margin-bottom: 5px;
}

body {
    background-color: #7be0fe;
}
  