li {
    padding: 5px;
    margin: 5px;
    background: none;
}
  
.label {
font-weight: bold;
}

.create-update-form {
padding: 5px;
margin: 5px;
background: aqua;
}

.form-group {
margin-bottom: 5px;
}

body {
    background-color: #7be0fe;
}
  